html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6) ), url(hogwarts.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    line-height: 125%;
    letter-spacing: 0.3rem;
}

#question {
    font-size: 1.25em;
    line-height: 125%;
    margin-bottom: 30px;
}

#quiz-wrapper {
    font-size: 27px; 
    margin: 0 auto;
    text-align: center;
    width: 800px;
    padding: 30px 2%;
    border: 0;
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 300;
    color: #fff;
    line-height: 150%;
}

.quiz-radio {
    display: none;
}

.quiz-label { 
    width: 600px;   
    border: 0.2px solid #fff;
    padding: 5px 10%;
    margin: 10px 0;
    display: inline-block;
}

.quiz-label:hover {
    background-color: #fff;
    color: #000;
    font-weight: 400;
}

.quiz-radio:checked + .quiz-label {
    background-color: #6ea868;
    border: #6ea868;
    font-weight: 400;
}

#buttons {
    display: block;
}

.quiz-button {
    border: 0;
    background-color: #ffffff;
    margin-top: 15px;
    padding: 10px 30px;
    font-size: 1em;
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 300;
}

.quiz-button:hover {
    background-color: #30372b;
    color: #fff;
    cursor: pointer;
}

.quiz-button:focus {
    outline: 0;
}

#feedback {
    display: none;
}

#result-title {
    margin-bottom: 30px;
}

#result-image {
    margin-bottom: 20px;
}

#result-description {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
     
    #quiz-wrapper {
        width: 100%;
        font-size: 2em;
        line-height: 78%;
        padding: 0;
    }
    
    .quiz-label { 
    width: 100%;   
    }

    .quiz-button {
        width: 80%;
    }
    
    h1 {
    font-size: 1.5em;
    }
}