html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    background: url(images/mountains.jpg);
    background-color: #001e3d;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    line-height: 125%;
    letter-spacing: 0.3rem;
}

#question {
    font-size: 1.25em;
    line-height: 125%;
    margin-bottom: 30px;
}

input { 
    -webkit-appearance: none;
    border-radius: 0;
}

#quiz-wrapper {
    font-size: 27px; 
    margin: 0 auto;
    text-align: center;
    width: 800px;
    border: 0;
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 300;
    color:#003366;
    line-height: 150%;
}

.quiz-radio {
    display: none;
}

.quiz-label { 
    width: 600px;   
    border: 1px solid #003366;
    padding: 5px 10%;
    margin: 10px 0;
    display: inline-block;
}

.quiz-label:hover {
    background-color: #001e3d;
    color: #fff;
}

.quiz-radio:checked + .quiz-label {
    background-color: #001e3d;
    border: #001e3d;
    color: #fff;
    font-weight: 400;
}

#buttons {
    display: block;
}

.quiz-button {
    border: 0;
    background-color: #ffffff;
    margin-top: 15px;
    padding: 10px 30px;
    font-size: 1em;
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 300;
}

.quiz-button:hover {
    background-color: #003366;
    color: #fff;
    cursor: pointer;
}

.quiz-button:focus {
    outline: 0;
}

#feedback {
    display: none;
}

#result-title {
    margin-bottom: 30px;
    font-weight: bold;
}

#result-image {
    margin-bottom: 20px;
}

#result-description {
    margin-bottom: 10px;
}


@media screen and (max-width: 700px) {


body{
	background: url(images/mountains-mobile-31kb.jpg);
	background-position: bottom center;
}
    #quiz-wrapper {
        width: 100%;
        font-size: 1em;
        line-height: 78%;
        padding: 10px;
    }
    
    .quiz-label { 
        width: 100%;  
        line-height: 150%; 
    }

    .quiz-button {
        width: 80%;
    }
    
    h1 {
        font-size: 1.5em;
        letter-spacing: 0.1rem;
    }
    
    #result-image {
        max-width: 100%;
        height: auto;
        width: auto\9;
    } 
    
    #result-title {
        line-height: 150%;
    }
    
    #result-description {
        line-height: 150%;
    }
    
}